// NOTICE: If you wanna change any materialize variables reference node_modules/materialize-css/sass/components/_variables.scss for names

// 1. Colors
// ==========================================================================

$primary-color: #6200ee;
$primary-color-light: #a849ff; 
$primary-color-dark: #2800ba; 

$secondary-color: #03DAC5;
$secondary-color-light: #66fff8;
$secondary-color-dark: #00a895;

$success-color: green; // TODO: Change this?
$error-color: #B00020;
$link-color: darkblue; // TODO: Change this? 
